@model System.Collections.Generic.List<Domain.TaskEntity>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
        padding: 8px;
        text-align: left;
        color: #264073;
    }
    
    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }
    
    tr:nth-child(even) {
        background-color: #FFF0BA;
    }
    tr:nth-child(odd) {
            background-color: #FBD9C0;
    }
    table tr:first-child td:first-child {
        border-top-left-radius: 20px;
    }
        
    table tr:last-child td:last-child {
        border-bottom-right-radius: 20px;
    }
    table tr:first-child td:last-child {
            border-top-right-radius: 20px;
    }
            
    table tr:last-child td:first-child {
        border-bottom-left-radius: 20px;
    }
    tr:hover {
        background-color: #f5f5f5;
    }
</style>

<table>
    <tbody>
    @foreach (var task in Model)
    {
        <tr>
            <td>@Html.ActionLink("Done", "Done", new { id = task.Id })</td>
            <td>@task.Name</td>
            <td>@task.Description</td>
            <td>@task.Deadline</td>
            <td>@task.Priority</td>
            <td>@task.IsCompleted</td>
            <td>@Html.ActionLink("Show", "Details", new {id = task.Id})</td>
            <td>@Html.ActionLink("Delete", "Remove", new {id = task.Id})</td>
        </tr>
    }
    </tbody>
</table>
<div style="background-color: #f2f2f2; padding: 10px; border: 1px solid #ccc; border-radius: 4px; display: inline-block;">
    @Html.ActionLink("+", "New", null, new { style = "color: #fff; background-color: #007bff; padding: 8px 12px; border: none; border-radius: 4px; text-decoration: none; font-weight: bold;" })
</div>

